.promo {
  margin-top: 30px;
}

.promo .title {
  color: #fff;
}

.promo .content {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.promo .content .upper-content {
  padding-top: 20px;
}

.promo .content .bottom-content {
  padding-bottom: 20px;
}

.promo .content .upper-content,
.promo .content .bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .promo .content .upper-content {
    position: relative;
    padding-bottom: 40px;
    background-color: #171718;
    border-radius: 16px;
    width: 100%;
    z-index: 4;
  }

  .promo .content .bottom-content {
    position: relative;
    background-color: #2C3234;
    font-size: 13px;
    width: 100%;
    z-index: 3;
  }

  .promo .content .bottom-content:before {
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 16px;
    background-color: #2C3234;
  }
}

.promo .content .title {
  color: #fff;
  font-size: 16px;
  margin: 0 0 16px;
  text-align: center;
}

.promo .content .text {
  color: #fff;
  opacity: 0.9;
  margin-top: 12px;
  margin-bottom: 0;
  text-align: center;
}

.promo .content .button {
  border-radius: 5px;
  background-color: #F05A22;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 7px 18px;
  margin-top: 16px;
}

.promo .content .clock {
  border: 2px solid #F05A22;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  box-shadow: inset 0 0 12px rgba(240, 90, 34, 0.7), 0 0 12px rgba(240, 90, 34, 0.7);
}

.promo .content .clock .clock-icon-holder {
  display: flex;
  background-color: #F05A22;
  padding: 5px 0 5px 5px;
  margin-right: 5px;
  position: relative;
}

.promo .content .clock .clock-icon-holder:before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  border-radius: 0 100% 100% 0 / 50%;
  top: 0;
  left: 100%;
  background-color: #F05A22;
}

.promo .content .clock .clock-icon-holder .clock-icon {
  position: relative;
  z-index: 5;
  width: 20px;
  height: 20px;
}

.promo .content .clock .clock-text {
  color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
}

.promo .content .promo-left-img-m,
.promo .content .promo-right-img-m {
  display: none;
}

.promo .content .promo-left-img,
.promo .content .promo-left-img-m {
  position: absolute;
  left: 0;
  bottom: 0;
}

.promo .content .promo-right-img,
.promo .content .promo-right-img-m {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .promo .content .promo-left-img,
  .promo .content .promo-right-img {
    display: none;
  }

  .promo .content .promo-left-img-m,
  .promo .content .promo-right-img-m {
    display: block;
  }
}

.daily-tournaments .daily-tournaments-content {
  background-color: #171718;
  border: 4px solid #25292B;
  margin-bottom: 20px;
  border-radius: 16px;
  padding: 20px;
}

.daily-tournaments .daily-tournaments-content .title {
  color: #fff;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 24px;
}

.daily-tournaments .daily-tournaments-content .banner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item {
  position: relative;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item.banner-lg {
  grid-area: 2 / 1 / 3 / 3;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .banner {
  width: 100%;
  min-height: 105px;
  object-fit: cover;
  object-position: right;
  border-radius: 16px;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 70px;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  color: #fff;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .left,
.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .left .title {
  margin: 0;
  font-size: 15px;
  text-align: left;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .left .prize {
  margin: 10px 0 0;
  font-size: 24px;
  color: #FFBE00;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .right .title {
  margin: 0;
  font-size: 13px;
  text-align: center;
}

.daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .right .bubble {
  margin: 10px 0 0;
  padding: 5px 20px;
  border-radius: 15px 15px 0 15px;
  background-color: #B78648;
  color: #FFBE00;
  text-align: center;
}

@media (min-width: 767px) {
  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay.lg .left,
  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay.lg .right {
    max-width: 200px;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay.lg {
    padding-right: 20px;
    justify-content: center;
    gap: 60px;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay.lg .left .title {
    font-size: 22px;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay.lg .left .prize {
    text-align: center;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay.lg .right .title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .daily-tournaments .daily-tournaments-content {
    padding: 0;
    border: none;
    background: none;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item {
    height: 100px;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .banner {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item.banner-lg {
    grid-area: auto;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .left .title {
    font-size: 14px;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay.lg .right .title {
    font-size: 12px;
  }

  .daily-tournaments .daily-tournaments-content .banner-grid .banner-item .overlay .right .bubble {
    font-size: 14px;
  }
}

.daily-tournaments .daily-tournaments-content .bottom-text {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
