.leaderboard-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #1E2122;
  border: 2px solid #2C3234;
  margin-bottom: 2px;
  border-radius: 76px;
  padding: 14px 20px;
}

.leaderboard-item .title {
  color: #fff;
  display: flex;
  font-size: 13px;
  justify-self: center;
  align-items: center;
}

.leaderboard-item .title.left {
  justify-self: start;
}

.leaderboard-item .title.position {
  background-color: #2C3234;
  border-radius: 50%;
  box-shadow: 0 0 5px #2C3234;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-item .title.right {
  justify-self: end;
}

.leaderboard-item .title .avatar {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  display: flex;
}

@media (max-width: 768px) {
  .leaderboard-item {
    grid-template-columns: 3fr 3fr 4fr;
    padding: 12px;
  }

  .leaderboard-item .title {
    font-size: 11px;
    text-align: center;
  }

  .leaderboard-item .title .avatar {
    display: none;
  }
}
