.campaigns {
    padding-top: 56px;
    padding-bottom: 56px;
}

.campaigns .title {
    margin-top: 0;
    color: #fff;
}

.campaigns .campaign-carusel {
    width: 100%;
    overflow: hidden;
}

.campaigns .campaign-carusel .campaign-carusel-wrapper {
    display: flex;
    gap: 20px;
    transition: all 0.2s;
    will-change: transform;
    cursor: pointer;
}