.info-item .info-item-header {
  background-color: #2c3234;
  padding: 20px 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  border-radius: 8px;
  gap: 20px;
}

.info-item .info-item-header .arrow {
  transition: .4s all;
}

.info-item .info-item-header.active .arrow {
  transform: rotate(180deg);
}

.info-item .answer {
  padding: 20px 26px;
  color: #bbb;
}
