<img ngSrc="/assets/final-info-img.jpg"/>

<app-category-list [title]="'A კატეგორიის საგზურში შედის'" [items]="categoryListItems"></app-category-list>

<app-category-list [title]="'A კატეგორიის საგზურში შედის'" [items]="categoryListItems"></app-category-list>

<app-category-list [title]="'A კატეგორიის საგზურში შედის'" [items]="categoryListItems"></app-category-list>

<app-card [title]="'“Cashgame Highrollers” -'" [image]="'/assets/poker-item-1-ticket-icon.png'">
    <p>1 საგზური</p>
</app-card>

<app-card [title]="'„Cashgame Grinders”'" [image]="'/assets/poker-item-1-ticket-icon.png'">
    <p>1 საგზური</p>
</app-card>

<app-card [title]="'„Tournament Sharks“ -'" [image]="'/assets/poker-item-1-ticket-icon.png'">
    <p>1 საგზური</p>
</app-card>

<app-card [title]="'„The Festival in Malta, GTD“'" [image]="'/assets/poker-item-2-ticket-icon.png'">
    <p>A კატეგორიის 1 საგზური</p>
    <p>B კატეგორიის 1 საგზური</p>
    <p>ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
</app-card>

<app-card [title]="'„The Lord of the Rings“'" [image]="'/assets/poker-item-1-ticket-icon.png'">
    <p>C კატეგორიის 1 საგზური</p>
    <p>ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
</app-card>

<app-key-list [items]="keyListItems"></app-key-list>
