<div class="header">
    <div class="banner">
        <section class="top-bar">
            <aside class="left">
                <div class="name">სლოტები</div>
                <div class="date">10 იანვარი - 12 მარტი</div>
            </aside>
            <aside class="right">
                <a href="#" class="x-shape"></a>
            </aside>
        </section>
    </div>
    <section class="description">
        <h2>მოიპოვე 10 საგზურიდან ერთ-ერთი</h2>
        <h3>მოხვდი პოკერის ფესტივალზე მალტაში</h3>
    </section>
</div>