<header class="header">
    <div class="mobile-top-bar">
        <div class="logo"></div>
        <div class="user-options">
            <a class="sign-up font-medium" href="#">
                Sign Up
            </a>

            <a class="sign-in font-medium" href="#">
                Sign Up
            </a>
        </div>
    </div>
    <div class="banner">
        <div class="top-bar">
            <aside class="left">
                <div class="name font-medium">სლოტები</div>
                <div class="date font-bold">10 იანვარი - 12 მარტი</div>
            </aside>
            <aside class="right">
                <a href="#" class="x-shape"></a>
            </aside>
        </div>
    </div>
</header>